@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-height: 30vh;
    margin: 5em;
    background-color: grey;
    padding: 1em;
    border-radius: 5px;
    height: 60vh;
    box-shadow: 2px 2px 5px black;
}
form input{
    all: unset;
    background-color: #9856b1;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
form button{
    all: unset;
    background-color: #653477;
    padding: 1em;
    border-radius: 1em;
    color: white;
}
.form_container{
    display: flex;
    justify-content: center;
}