@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$primaryColor: rgb(155, 55, 158);
$hoverColor: #eba5e7;
$hoverLetterColor: #eba5e7;
$font:  'Monstserrat', sans-serif;
$shadowColor: rgb(179, 176, 176);
